body{
  margin:0;
  text-align:center;
  font-family: 'Spartan', sans-serif;
  font-weight:400;
}
.heading{

  font-size:2.5rem;
  color:#502050;
}
.line{
  color:#937B92;
}
.violet{

  background:#F7F2F7;
  background-clip: padding-box;
}
.star{
  margin-top:5%;
}
.Rate{
  color:#502050;
  font-weight:700;
  line-height:1.5;
}
.customer-one{
  background:#502050;
  background-clip: padding-box;
  color:white;
}
.customer-second{
  background:#502050;
  background-clip: padding-box;
  color:white;
}
.customer-third{
  background:#502050;
  background-clip: padding-box;
  color:white;
}
.container-one{
  display:flex;
  flex-direction:row;
}
.customer-image{
  position:relative;
  top:10%;
  right:30%;
  border-radius:50%;
  width:40%;
}
.align{
  position:relative;
  right:60%;
  top:17%;
  margin-top:0;
  margin-bottom:0;
}
.top{
  padding-top:2%;
}
.bottom{
  padding-top:7.5%;
}
.clear{
  margin:0;
  line-height:1.15rem;
  text-align:justify;
  clear:left;
}
.verify{
  color:#EE68A4;
  line-height:1.25rem;
}
@media(max-width:361px) and (min-width:320px){
.main-container{
  margin-left:75px;
  margin-right:75px;
  display:flex;
  flex-direction: column;
  font-size:0.5rem;
}
.heading{
  font-size:1.1rem;
}
.violet{
  padding:1% 1.5%;
  margin-top:5px;
  margin-bottom:5px;
  border-radius: 5px;
}
.customer-one{
  padding:7.5%;
  border-radius:5px;
  margin-top:5%;
  margin-bottom:5%;
}
.customer-second{
  padding:7.5%;
  border-radius:5px;
  margin-bottom:5%;
}
.customer-third{
  padding:7.5%;
  border-radius:5px;
  margin-bottom:5%;
}
.item-two{
  padding-left:5%;
}
.swapimg{
  display:none
}
.mobile{
  display:inline;
  position:relative;
  z-index:-1;
  top:100px;

}
.mobile-bottom{
  display:inline;
  position:relative;
  z-index:-1;
  bottom:200px;
}
}
@media(max-width:451px) and (min-width:361px){
.main-container{
  margin-left:80px;
  margin-right:80px;
  display:flex;
  flex-direction: column;
  font-size:0.55rem;
}
.heading{
  font-weight:700;
  font-size:1.15rem;
}
.violet{
  padding:1% 1.5%;
}
.customer-one{
  padding:7.5%;
  border-radius:5px;
  margin-top:5%;
  margin-bottom:5%;
}
.customer-second{
  padding:7.5%;
  border-radius:5px;
  margin-bottom:5%;
}
.customer-third{
  padding:7.5%;
  border-radius:5px;
  margin-bottom:5%;
}
.item-two{
  padding-left:5%;
}
.swapimg{
  display:none
}
.mobile{
  display:inline;
  position:relative;
  z-index:-1;
  top:100px;
}
.mobile-bottom{
  display:inline;
  position:relative;
  z-index:-1;
  bottom:200px;
}
}
@media(max-width:601px) and (min-width:451px){
.main-container{
  margin-left:80px;
  margin-right:80px;
  display:flex;
  flex-direction: column;
  font-size:0.65rem;
}
.heading{
  font-size:1.20rem;
}
.violet{
  padding:1% 1.5%;
}
.customer-one{
  padding:7.5%;
  border-radius:5px;
  margin-top:5%;
  margin-bottom:5%;
}
.customer-second{
  padding:7.5%;
  border-radius:5px;
  margin-bottom:5%;
}
.customer-third{
  padding:7.5%;
  border-radius:5px;
  margin-bottom:5%;
}
.item-two{
  padding-left:5%;
}
.swapimg{
  display:none
}
.mobile{
  display:inline;
  position:relative;
  z-index:-1;
  top:100px;
}
.mobile-bottom{
  display:inline;
  position:relative;
  z-index:-1;
  bottom:200px;
}
}
@media(max-width:701px) and (min-width:601px){
.main-container{
  margin-left:110px;
  margin-right:110px;
  display:flex;
  flex-direction: column;
  font-size:0.85rem;
}
.heading{
  font-size:1.35rem;
}
.violet{
  padding:1% 1.5%;
}
.customer-one{
  padding:7.5%;
  border-radius:5px;
  margin-top:5%;
  margin-bottom:5%;
}
.customer-second{
  padding:7.5%;
  border-radius:5px;
  margin-bottom:5%;
}
.customer-third{
  padding:7.5%;
  border-radius:5px;
  margin-bottom:5%;
}
.item-two{
  padding-left:5%;
}
.swapimg{
  display:none
}
.mobile{
  display:inline;
  position:relative;
  z-index:-1;
  top:100px;
}
.mobile-bottom{
  display:inline;
  position:relative;
  z-index:-1;
  bottom:200px;
}
.customer-image{
  width:50%;
}
.align{
  right:45%;
}
}
@media(max-width:769px) and (min-width:701px){
.main-container{
  margin-left:125px;
  margin-right:125px;
  display:flex;
  flex-direction: column;
  font-size:0.90rem;
}
.heading{
  font-size:1.40rem;
}
.violet{
  padding:1% 1.5%;
}
.customer-one{
  padding:7.5%;
  border-radius:5px;
  margin-top:5%;
  margin-bottom:5%;
}
.customer-second{
  padding:7.5%;
  border-radius:5px;
  margin-bottom:5%;
}
.customer-third{
  padding:7.5%;
  border-radius:5px;
  margin-bottom:5%;
}
.item-two{
  padding-left:5%;
}
.swapimg{
  display:none
}
.mobile{
  display:inline;
  position:relative;
  z-index:-1;
  top:100px;
}
.mobile-bottom{
  display:inline;
  position:relative;
  z-index:-1;
  bottom:200px;
}
.customer-image{
  width:50%;
}
.align{
  right:45%;
}
}
@media (max-width:859px) and (min-width:769px){
  .main-container{
    position:relative;
    bottom:200px;
  }
  .first{
    margin-left:400px;
    position:relative;
    right:350px;
    text-align: left;
  }
  .heading{
    font-size:2.75rem;
    font-weight: 700;
  }
  .swapimg{
    display:none
  }
  .desktop{
    display:inline;
    position:relative;
    right:200px;
    top:300px;
    z-index:-1;
  }
  .second{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:450px;
    bottom:300px;
  }
  .third{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:500px;
    bottom:285px;
  }
  .fourth{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:550px;
    bottom:270px;
  }
  .violet{
    padding:1% 5% 1% 0;
    border-radius:10px;
  }
  .star{
    margin-top:0;
  }
  .Rate{
    position:relative;
    left:50px;
    display:inline;
  }
  .customer-one{
    padding:2% 1.5%;
    margin-left:30%;
    margin-right:30%;
    border-radius:10px;
    position:relative;
    right:188px;
    bottom:100px;
  }
  .customer-second{
    padding:2.5% 1.5%;
    margin-left:30%;
    margin-right:30%;
    border-radius:10px;
    position:relative;
    left:160px;
    bottom:300px;
  }
  .customer-third{
    padding:3% 1.5%;
    margin-left:30%;
    margin-right:30%;
    border-radius:10px;
    position:relative;
    left:510px;
    bottom:475px;
  }
  .item-two{
    position:relative;
    left:40px;
    bottom:5px;
  }
  .desktop-bottom{
    display:inline;
    position:relative;
    z-index:-1;
    left:150px;
    bottom:1200px;
  }

}
@media (max-width:895px) and (min-width:859px){
  .main-container{
    position:relative;
    bottom:200px;
  }
  .first{
    margin-left:400px;
    position:relative;
    right:350px;
    text-align: left;
  }
  .heading{
    font-size:2.75rem;
    font-weight: 700;
  }
  .swapimg{
    display:none
  }
  .desktop{
    display:inline;
    position:relative;
    right:200px;
    top:300px;
    z-index:-1;
  }
  .second{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:450px;
    bottom:300px;
  }
  .third{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:500px;
    bottom:285px;
  }
  .fourth{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:550px;
    bottom:270px;
  }
  .violet{
    padding:1% 5% 1% 0;
    border-radius:10px;
  }
  .star{
    margin-top:0;
  }
  .Rate{
    position:relative;
    left:50px;
    display:inline;
  }
  .customer-one{
    padding:2% 1.5%;
    margin-left:30%;
    margin-right:30%;
    border-radius:10px;
    position:relative;
    right:208px;
    bottom:100px;
  }
  .customer-second{
    padding:2.5% 1.5%;
    margin-left:30%;
    margin-right:30%;
    border-radius:10px;
    position:relative;
    left:170px;
    bottom:290px;
  }
  .customer-third{
    padding:3% 1.5%;
    margin-left:30%;
    margin-right:30%;
    border-radius:10px;
    position:relative;
    left:540px;
    bottom:475px;
  }
  .item-two{
    position:relative;
    left:40px;
    bottom:5px;
  }
  .desktop-bottom{
    display:inline;
    position:relative;
    z-index:-1;
    left:150px;
    bottom:1200px;
  }
}
@media (max-width:945px) and (min-width:895px){
    .main-container{
      position:relative;
      bottom:200px;
    }
    .first{
      margin-left:450px;
      position:relative;
      right:380px;
      text-align: left;
    }
    .heading{
      font-size:2.75rem;
      font-weight: 700;
    }
    .swapimg{
      display:none
    }
    .desktop{
      display:inline;
      position:relative;
      right:200px;
      top:300px;
      z-index:-1;
    }
    .second{
      margin-left:200px;
      margin-right:200px;
      position:relative;
      width:40%;
      left:450px;
      bottom:300px;
    }
    .third{
      margin-left:200px;
      margin-right:200px;
      position:relative;
      width:40%;
      left:500px;
      bottom:285px;
    }
    .fourth{
      margin-left:200px;
      margin-right:200px;
      position:relative;
      width:40%;
      left:550px;
      bottom:270px;
    }
    .violet{
      padding:1% 5% 1% 0;
      border-radius:10px;
    }
    .star{
      margin-top:0;
    }
    .Rate{
      position:relative;
      left:50px;
      display:inline;
    }
    .customer-one{
      padding:2% 1.5%;
      margin-left:30%;
      margin-right:30%;
      border-radius:10px;
      position:relative;
      right:208px;
      bottom:100px;
    }
    .customer-second{
      padding:2.5% 1.5%;
      margin-left:30%;
      margin-right:30%;
      border-radius:10px;
      position:relative;
      left:170px;
      bottom:290px;
    }
    .customer-third{
      padding:3% 1.5%;
      margin-left:30%;
      margin-right:30%;
      border-radius:10px;
      position:relative;
      left:555px;
      bottom:475px;
    }
    .item-two{
      position:relative;
      left:40px;
      bottom:5px;
    }
    .desktop-bottom{
      display:inline;
      position:relative;
      z-index:-1;
      left:150px;
      bottom:1200px;
    }
}
@media (max-width:995px) and (min-width:945px){
    .main-container{
      position:relative;
      bottom:200px;
    }
    .first{
      margin-left:500px;
      position:relative;
      right:420px;
      text-align: left;
    }
    .heading{
      font-size:2.75rem;
      font-weight: 700;
    }
    .swapimg{
      display:none
    }
    .desktop{
      display:inline;
      position:relative;
      right:200px;
      top:300px;
      z-index:-1;
    }
    .second{
      margin-left:200px;
      margin-right:200px;
      position:relative;
      width:40%;
      left:450px;
      bottom:300px;
    }
    .third{
      margin-left:200px;
      margin-right:200px;
      position:relative;
      width:40%;
      left:500px;
      bottom:285px;
    }
    .fourth{
      margin-left:200px;
      margin-right:200px;
      position:relative;
      width:40%;
      left:550px;
      bottom:270px;
    }
    .violet{
      padding:1% 5% 1% 0;
      border-radius:10px;
    }
    .star{
      margin-top:0;
    }
    .Rate{
      position:relative;
      left:50px;
      display:inline;
    }
    .customer-one{
      padding:2% 1.5%;
      margin-left:32%;
      margin-right:32%;
      border-radius:10px;
      position:relative;
      right:238px;
      bottom:100px;
    }
    .customer-second{
      padding:2.5% 1.5%;
      margin-left:32%;
      margin-right:32%;
      border-radius:10px;
      position:relative;
      left:150px;
      bottom:290px;
    }
    .customer-third{
      padding:3% 1.5%;
      margin-left:32%;
      margin-right:32%;
      border-radius:10px;
      position:relative;
      left:535px;
      bottom:475px;
    }
    .item-two{
      position:relative;
      left:40px;
      bottom:5px;
    }
    .desktop-bottom{
      display:inline;
      position:relative;
      z-index:-1;
      left:150px;
      bottom:1200px;
    }
}
@media (max-width:1076px) and (min-width:1000px){
  .main-container{
    position:relative;
    bottom:200px;
  }
  .first{
    margin-left:600px;
    position:relative;
    right:500px;
    text-align: left;
  }
  .heading{
    font-size:2.75rem;
    font-weight: 700;
  }
  .swapimg{
    display:none
  }
  .desktop{
    display:inline;
    position:relative;
    right:200px;
    top:300px;
    z-index:-1;
  }
  .second{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:450px;
    bottom:300px;
  }
  .third{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:500px;
    bottom:285px;
  }
  .fourth{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:550px;
    bottom:270px;
  }
  .violet{
    padding:1% 5% 1% 0;
    border-radius:10px;
  }
  .star{
    margin-top:0;
  }
  .Rate{
    position:relative;
    left:50px;
    display:inline;
  }
  .customer-one{
    padding:2% 1.5%;
    margin-left:32.5%;
    margin-right:32.5%;
    border-radius:10px;
    position:relative;
    right:228px;
    bottom:100px;
  }
  .customer-second{
    padding:2.5% 1.5%;
    margin-left:32.5%;
    margin-right:32.5%;
    border-radius:10px;
    position:relative;
    left:150px;
    bottom:295px;
  }
  .customer-third{
    padding:2.5% 1.5%;
    margin-left:32.5%;
    margin-right:32.5%;
    border-radius:10px;
    position:relative;
    left:530px;
    bottom:485px;
  }
  .item-two{
    position:relative;
    left:40px;
    bottom:5px;
  }
  .desktop-bottom{
    display:inline;
    position:relative;
    z-index:-1;
    left:150px;
    bottom:1200px;
  }

}
@media (max-width:1120px) and (min-width:1075px){
  .main-container{
    position:relative;
    bottom:200px;
  }
  .first{
    margin-left:600px;
    position:relative;
    right:550px;
    text-align: left;
  }
  .heading{
    font-size:2.75rem;
    font-weight: 700;
  }
  .swapimg{
    display:none
  }
  .desktop{
    display:inline;
    position:relative;
    right:230px;
    top:300px;
    z-index:-1;
  }
  .second{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:450px;
    bottom:300px;
  }
  .third{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:500px;
    bottom:285px;
  }
  .fourth{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:550px;
    bottom:270px;
  }
  .violet{
    padding:1% 5% 1% 0;
    border-radius:10px;
  }
  .star{
    margin-top:0;
  }
  .Rate{
    position:relative;
    left:50px;
    display:inline;
  }
  .customer-one{
    padding:2% 1.5%;
    margin-left:32.5%;
    margin-right:32.5%;
    border-radius:10px;
    position:relative;
    right:300px;
    bottom:100px;
  }
  .customer-second{
    padding:2.5% 1.5%;
    margin-left:32.5%;
    margin-right:32.5%;
    border-radius:10px;
    position:relative;
    left:100px;
    bottom:285px;
  }
  .customer-third{
    padding:2.5% 1.5%;
    margin-left:32.5%;
    margin-right:32.5%;
    border-radius:10px;
    position:relative;
    left:500px;
    bottom:475px;
  }
  .item-two{
    position:relative;
    left:40px;
    bottom:5px;
  }
  .desktop-bottom{
    display:inline;
    position:relative;
    z-index:-1;
    left:150px;
    bottom:1200px;
  }

}
@media (max-width:1145px) and (min-width:1120px){
  .main-container{
    position:relative;
    bottom:200px;
  }
  .first{
    margin-left:650px;
    position:relative;
    right:600px;
    text-align: left;
  }
  .heading{
    font-size:2.75rem;
    font-weight: 700;
  }
  .swapimg{
    display:none
  }
  .desktop{
    display:inline;
    position:relative;
    right:255px;
    top:300px;
    z-index:-1;
  }
  .second{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:450px;
    bottom:300px;
  }
  .third{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:500px;
    bottom:285px;
  }
  .fourth{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:550px;
    bottom:270px;
  }
  .violet{
    padding:1% 5% 1% 0;
    border-radius:10px;
  }
  .star{
    margin-top:0;
  }
  .Rate{
    position:relative;
    left:50px;
    display:inline;
  }
  .customer-one{
    padding:2% 1.5%;
    margin-left:32.5%;
    margin-right:32.5%;
    border-radius:10px;
    position:relative;
    right:320px;
    bottom:100px;
  }
  .customer-second{
    padding:3% 1.5%;
    margin-left:32.5%;
    margin-right:32.5%;
    border-radius:10px;
    position:relative;
    left:90px;
    bottom:295px;
  }
  .customer-third{
    padding:2.5% 1.5%;
    margin-left:32.5%;
    margin-right:32.5%;
    border-radius:10px;
    position:relative;
    left:500px;
    bottom:490px;
  }
  .item-two{
    position:relative;
    left:40px;
    bottom:5px;
  }
  .desktop-bottom{
    display:inline;
    position:relative;
    z-index:-1;
    left:150px;
    bottom:1200px;
  }

}
@media (max-width:1175px) and (min-width:1145px){
  .main-container{
    position:relative;
    bottom:200px;
  }
  .first{
    margin-left:680px;
    position:relative;
    right:620px;
    text-align: left;
  }
  .heading{
    font-size:2.75rem;
    font-weight: 700;
  }
  .swapimg{
    display:none
  }
  .desktop{
    display:inline;
    position:relative;
    right:255px;
    top:300px;
    z-index:-1;
  }
  .second{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:450px;
    bottom:300px;
  }
  .third{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:500px;
    bottom:285px;
  }
  .fourth{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:550px;
    bottom:270px;
  }
  .violet{
    padding:1% 5% 1% 0;
    border-radius:10px;
  }
  .star{
    margin-top:0;
  }
  .Rate{
    position:relative;
    left:50px;
    display:inline;
  }
  .customer-one{
    padding:2% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    right:345px;
    bottom:100px;
  }
  .customer-second{
    padding:2.5% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    left:50px;
    bottom:325px;
  }
  .customer-third{
    padding:2.5% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    left:440px;
    bottom:540px;
  }
  .item-two{
    position:relative;
    left:40px;
    bottom:5px;
  }
  .desktop-bottom{
    display:inline;
    position:relative;
    z-index:-1;
    left:150px;
    bottom:1200px;
  }

}
@media (max-width:1215px) and (min-width:1175px){
  .main-container{
    position:relative;
    bottom:200px;
  }
  .first{
    margin-left:720px;
    position:relative;
    right:620px;
    text-align: left;
  }
  .heading{
    font-size:2.75rem;
    font-weight: 700;
  }
  .swapimg{
    display:none
  }
  .desktop{
    display:inline;
    position:relative;
    right:255px;
    top:300px;
    z-index:-1;
  }
  .second{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:450px;
    bottom:300px;
  }
  .third{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:500px;
    bottom:285px;
  }
  .fourth{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:550px;
    bottom:270px;
  }
  .violet{
    padding:1% 5% 1% 0;
    border-radius:10px;
  }
  .star{
    margin-top:0;
  }
  .Rate{
    position:relative;
    left:50px;
    display:inline;
  }
  .customer-one{
    padding:2% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    right:345px;
    bottom:100px;
  }
  .customer-second{
    padding:2.5% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    left:50px;
    bottom:305px;
  }
  .customer-third{
    padding:2.5% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    left:440px;
    bottom:500px;
  }
  .item-two{
    position:relative;
    left:40px;
    bottom:5px;
  }
  .desktop-bottom{
    display:inline;
    position:relative;
    z-index:-1;
    left:150px;
    bottom:1200px;
  }

}
@media (max-width:1255px) and (min-width:1215px){
  .main-container{
    position:relative;
    bottom:200px;
  }
  .first{
    margin-left:760px;
    position:relative;
    right:670px;
    text-align: left;
  }
  .heading{
    font-size:2.75rem;
    font-weight: 700;
  }
  .swapimg{
    display:none
  }
  .desktop{
    display:inline;
    position:relative;
    right:265px;
    top:300px;
    z-index:-1;
  }
  .second{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:450px;
    bottom:300px;
  }
  .third{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:500px;
    bottom:285px;
  }
  .fourth{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:550px;
    bottom:270px;
  }
  .violet{
    padding:1% 5% 1% 0;
    border-radius:10px;
  }
  .star{
    margin-top:0;
  }
  .Rate{
    position:relative;
    left:50px;
    display:inline;
  }
  .customer-one{
    padding:2% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    right:345px;
    bottom:100px;
  }
  .customer-second{
    padding:2.5% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    left:50px;
    bottom:305px;
  }
  .customer-third{
    padding:2.5% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    left:440px;
    bottom:500px;
  }
  .item-two{
    position:relative;
    left:40px;
    bottom:5px;
  }
  .desktop-bottom{
    display:inline;
    position:relative;
    z-index:-1;
    left:150px;
    bottom:1200px;
  }

}
@media (max-width:1295px) and (min-width:1255px){
  .main-container{
    position:relative;
    bottom:200px;
  }
  .first{
    margin-left:800px;
    position:relative;
    right:700px;
    text-align: left;
  }
  .heading{
    font-size:2.75rem;
    font-weight: 700;
  }
  .swapimg{
    display:none
  }
  .desktop{
    display:inline;
    position:relative;
    right:265px;
    top:330px;
    z-index:-1;
  }
  .second{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:450px;
    bottom:300px;
  }
  .third{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:500px;
    bottom:285px;
  }
  .fourth{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:550px;
    bottom:270px;
  }
  .violet{
    padding:1% 5% 1% 0;
    border-radius:10px;
  }
  .star{
    margin-top:0;
  }
  .Rate{
    position:relative;
    left:50px;
    display:inline;
  }
  .customer-one{
    padding:2% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    right:345px;
    bottom:100px;
  }
  .customer-second{
    padding:2.5% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    left:50px;
    bottom:305px;
  }
  .customer-third{
    padding:2.5% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    left:440px;
    bottom:500px;
  }
  .item-two{
    position:relative;
    left:40px;
    bottom:5px;
  }
  .desktop-bottom{
    display:inline;
    position:relative;
    z-index:-1;
    left:150px;
    bottom:1200px;
  }

}
@media (max-width:1335px) and (min-width:1295px){
  .main-container{
    position:relative;
    bottom:200px;
  }
  .first{
    margin-left:840px;
    position:relative;
    right:730px;
    text-align: left;
  }
  .heading{
    font-size:2.75rem;
    font-weight: 700;
  }
  .swapimg{
    display:none
  }
  .desktop{
    display:inline;
    position:relative;
    right:295px;
    top:330px;
    z-index:-1;
  }
  .second{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:450px;
    bottom:300px;
  }
  .third{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:500px;
    bottom:285px;
  }
  .fourth{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:550px;
    bottom:270px;
  }
  .violet{
    padding:1% 5% 1% 0;
    border-radius:10px;
  }
  .star{
    margin-top:0;
  }
  .Rate{
    position:relative;
    left:50px;
    display:inline;
  }
  .customer-one{
    padding:2% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    right:345px;
    bottom:100px;
  }
  .customer-second{
    padding:2.5% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    left:70px;
    bottom:305px;
  }
  .customer-third{
    padding:2.5% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    left:490px;
    bottom:500px;
  }
  .item-two{
    position:relative;
    left:40px;
    bottom:5px;
  }
  .desktop-bottom{
    display:inline;
    position:relative;
    z-index:-1;
    left:150px;
    bottom:1200px;
  }

}
@media (max-width:1375px) and (min-width:1335px){
  .main-container{
    position:relative;
    bottom:200px;
  }
  .first{
    margin-left:880px;
    position:relative;
    right:760px;
    text-align: left;
  }
  .heading{
    font-size:2.75rem;
    font-weight: 700;
  }
  .swapimg{
    display:none
  }
  .desktop{
    display:inline;
    position:relative;
    right:325px;
    top:330px;
    z-index:-1;
  }
  .second{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:450px;
    bottom:300px;
  }
  .third{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:500px;
    bottom:285px;
  }
  .fourth{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:550px;
    bottom:270px;
  }
  .violet{
    padding:1% 5% 1% 0;
    border-radius:10px;
  }
  .star{
    margin-top:0;
  }
  .Rate{
    position:relative;
    left:50px;
    display:inline;
  }
  .customer-one{
    padding:2% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    right:345px;
    bottom:100px;
  }
  .customer-second{
    padding:2.5% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    left:70px;
    bottom:295px;
  }
  .customer-third{
    padding:2.5% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    left:490px;
    bottom:490px;
  }
  .item-two{
    position:relative;
    left:40px;
    bottom:5px;
  }
  .desktop-bottom{
    display:inline;
    position:relative;
    z-index:-1;
    left:150px;
    bottom:1200px;
  }

}
@media (max-width:1415px) and (min-width:1375px){
  .main-container{
    position:relative;
    bottom:200px;
  }
  .first{
    margin-left:920px;
    position:relative;
    right:800px;
    text-align: left;
  }
  .heading{
    font-size:2.75rem;
    font-weight: 700;
  }
  .swapimg{
    display:none
  }
  .desktop{
    display:inline;
    position:relative;
    right:305px;
    top:330px;
    z-index:-1;
  }
  .second{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:450px;
    bottom:300px;
  }
  .third{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:500px;
    bottom:285px;
  }
  .fourth{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:550px;
    bottom:270px;
  }
  .violet{
    padding:1% 5% 1% 0;
    border-radius:10px;
  }
  .star{
    margin-top:0;
  }
  .Rate{
    position:relative;
    left:50px;
    display:inline;
  }
  .customer-one{
    padding:2% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    right:365px;
    bottom:100px;
  }
  .customer-second{
    padding:2.5% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    left:80px;
    bottom:295px;
  }
  .customer-third{
    padding:2.5% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    left:520px;
    bottom:490px;
  }
  .item-two{
    position:relative;
    left:40px;
    bottom:5px;
  }
  .desktop-bottom{
    display:inline;
    position:relative;
    z-index:-1;
    left:150px;
    bottom:1200px;
  }

}
@media (max-width:1445px) and (min-width:1415px){
  .main-container{
    position:relative;
    bottom:200px;
  }
  .first{
    margin-left:960px;
    position:relative;
    right:895px;
    text-align: left;
  }
  .heading{
    font-size:2.75rem;
    font-weight: 700;
  }
  .swapimg{
    display:none
  }
  .desktop{
    display:inline;
    position:relative;
    right:405px;
    top:330px;
    z-index:-1;
  }
  .second{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:450px;
    bottom:300px;
  }
  .third{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:500px;
    bottom:285px;
  }
  .fourth{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:550px;
    bottom:270px;
  }
  .violet{
    padding:1% 5% 1% 0;
    border-radius:10px;
  }
  .star{
    margin-top:0;
  }
  .Rate{
    position:relative;
    left:50px;
    display:inline;
  }
  .customer-one{
    padding:2% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    right:445px;
    bottom:100px;
  }
  .customer-second{
    padding:2.5% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    left:30px;
    bottom:295px;
  }
  .customer-third{
    padding:2.5% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    left:490px;
    bottom:490px;
  }
  .item-two{
    position:relative;
    left:40px;
    bottom:5px;
  }
  .desktop-bottom{
    display:inline;
    position:relative;
    z-index:-1;
    left:150px;
    bottom:1200px;
  }

}
@media (max-width:1495px) and (min-width:1445px){
  .main-container{
    position:relative;
    bottom:200px;
  }
  .first{
    margin-left:1000px;
    position:relative;
    right:925px;
    text-align: left;
  }
  .heading{
    font-size:2.75rem;
    font-weight: 700;
  }
  .swapimg{
    display:none
  }
  .desktop{
    display:inline;
    position:relative;
    right:405px;
    top:330px;
    z-index:-1;
  }
  .second{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:450px;
    bottom:300px;
  }
  .third{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:500px;
    bottom:285px;
  }
  .fourth{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:550px;
    bottom:270px;
  }
  .violet{
    padding:1% 5% 1% 0;
    border-radius:10px;
  }
  .star{
    margin-top:0;
  }
  .Rate{
    position:relative;
    left:50px;
    display:inline;
  }
  .customer-one{
    padding:2% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    right:445px;
    bottom:100px;
  }
  .customer-second{
    padding:2.5% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    left:30px;
    bottom:295px;
  }
  .customer-third{
    padding:2.5% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    left:490px;
    bottom:490px;
  }
  .item-two{
    position:relative;
    left:40px;
    bottom:5px;
  }
  .desktop-bottom{
    display:inline;
    position:relative;
    z-index:-1;
    left:150px;
    bottom:1200px;
  }

}
@media (max-width:1535px) and (min-width:1495px){
  .main-container{
    position:relative;
    bottom:200px;
  }
  .first{
    margin-left:1040px;
    position:relative;
    right:975px;
    text-align: left;
  }
  .heading{
    font-size:2.75rem;
    font-weight: 700;
  }
  .swapimg{
    display:none
  }
  .desktop{
    display:inline;
    position:relative;
    right:405px;
    top:330px;
    z-index:-1;
  }
  .second{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:450px;
    bottom:300px;
  }
  .third{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:500px;
    bottom:285px;
  }
  .fourth{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:550px;
    bottom:270px;
  }
  .violet{
    padding:1% 5% 1% 0;
    border-radius:10px;
  }
  .star{
    margin-top:0;
  }
  .Rate{
    position:relative;
    left:50px;
    display:inline;
  }
  .customer-one{
    padding:2% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    right:465px;
    bottom:100px;
  }
  .customer-second{
    padding:2.5% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    left:10px;
    bottom:295px;
  }
  .customer-third{
    padding:2.5% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    left:480px;
    bottom:490px;
  }
  .item-two{
    position:relative;
    left:40px;
    bottom:5px;
  }
  .desktop-bottom{
    display:inline;
    position:relative;
    z-index:-1;
    left:150px;
    bottom:1200px;
  }

}
@media (max-width:1575px) and (min-width:1535px){
  .main-container{
    position:relative;
    bottom:200px;
  }
  .first{
    margin-left:1080px;
    position:relative;
    right:1005px;
    text-align: left;
  }
  .heading{
    font-size:2.75rem;
    font-weight: 700;
  }
  .swapimg{
    display:none
  }
  .desktop{
    display:inline;
    position:relative;
    right:405px;
    top:330px;
    z-index:-1;
  }
  .second{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:450px;
    bottom:300px;
  }
  .third{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:500px;
    bottom:285px;
  }
  .fourth{
    margin-left:200px;
    margin-right:200px;
    position:relative;
    width:40%;
    left:550px;
    bottom:270px;
  }
  .violet{
    padding:1% 5% 1% 0;
    border-radius:10px;
  }
  .star{
    margin-top:0;
  }
  .Rate{
    position:relative;
    left:50px;
    display:inline;
  }
  .customer-one{
    padding:2% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    right:465px;
    bottom:100px;
  }
  .customer-second{
    padding:2.5% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    left:10px;
    bottom:295px;
  }
  .customer-third{
    padding:2.5% 1.5%;
    margin-left:35%;
    margin-right:35%;
    border-radius:10px;
    position:relative;
    left:490px;
    bottom:490px;
  }
  .item-two{
    position:relative;
    left:40px;
    bottom:5px;
  }
  .desktop-bottom{
    display:inline;
    position:relative;
    z-index:-1;
    left:150px;
    bottom:1200px;
  }

}
